<li class="col-xs-12 col-sm-3">
	<%= link_to link do %>
	<div class="front-face-holder">
		<span class='all-causes-title'><%= title %></span>
		<span class="circle"> </span>
	</div>
	<div class='hoverElem'>
		<div>  <!-- div needed to center content inside -->
			<span class="hoverElem-header"><%= title %></span>
			<span class="hoverElem-seperator">•••</span>
			<span class="hoverElem-text"><%= desc %></span>
		</div>
	</div>
	<% end %>
</li>