@import "bootstrap-sprockets";
@import "bootstrap";
$header-color: #c64b42;



body {
	margin-top: 70px;
}

.navbar {
	background-color: $header-color;
}

.sidebar {
	background-color: $header-color;
	height: 100%;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#logo {
	max-width: 150px;
	margin-top: -5px;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 28px;
}