@import "bootstrap-sprockets";
@import "bootstrap";
$header-color: #d53a2f;
$sidebar-color: #d36c64;
$sidebar-hover-color: #DB0F00;
$question-color: #fff9d8;
$tip-color: #d5e9f6;
$header-height: 50px;
$body-color: black;
$sidebar-selected: #f24235;

@mixin darkenOnHover($color) {
	&:hover {
		background-color: mix($color, black, 97%);
		cursor: pointer;
	}
}

body {
	margin-top: $header-height;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	//	font-family: "Times New Roman", Georgia, Serif;
	font-weight: 300;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	margin-bottom: 17px;
	&:hover {
		cursor: auto;
	}
}

.main-topic {
	margin-bottom: 5px;
	margin-top: 0px;
//	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h4 {
	a {
		text-decoration: none;
		color: $body-color;
		padding-top:$header-height;
		padding-top: calc(#{$header-height} + 10px);
		&:hover {
			text-decoration: none;
			color: $body-color;
		}
	}
}

h2 {
	font-size: 28px;
	font-weight: 800;
}

h4 {
	font-size: 18px;
	font-weight: 800;
	margin-top: 15px;
//	font-style: italic;
}

.step {
	font-weight: 700;
}

.file-title {
	margin-top: 3px;
	font-weight: 800;
	font-size: 12px;
	font-style: italic;
	position: relative;
	top: 5px;
	left: 3px;
}

.full_image {
	width: 100%;
}

.hidden {
	display: none;
}

.inline-code {
	font-family: 'Cousine';
	font-size: 16px;
}

.navbar {
	background-color: $header-color;
	border: none;
}

.sidebar {
	padding: 0;
	background-color: $sidebar-color;
	height: calc(100vh - 50px);
	position: fixed;
	color: white;

	.selected {
		background-color: $sidebar-selected;
	}

	a {
		color: white;
		display: block;
		text-decoration: none;
		font-size: 18px;
		padding: 8px 0px 8px 15px;

		&:hover {
			color: white;
			display: block;
			text-decoration: none;
			background-color: $sidebar-selected;
			cursor: pointer;
		}
	}

	.nested-one {
		a {
			font-size: 16px;
			padding: 6px 0px 6px 25px;
			font-weight: 300;
			margin: 0;
		}
	}

	.nested-two {
		a {
			font-size: 16px;
			padding: 6px 0px 6px 35px;
			font-weight: 300;
			margin: 0;
		}
	}
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
}

#logo {
	max-width: 150px;
	margin-top: -5px;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 28px;
}

.content-box {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
}

.init-desc {
	font-weight: 300;
	font-style: italic;
}

.small-header {
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 20px;
}

.note {
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
}

// Question styles
.info-box {
	&.question-box {
		background-color: $question-color;
		.question {
			@include darkenOnHover($question-color)
		}
	}
	&.tip-box {
		background-color: $tip-color;

		.question {
			@include darkenOnHover($tip-color)
		}
	}

	font-size: 16px;
	margin: 20px 0px;
	position: relative;
	overflow: visible;

	.question {
		padding: 25px 30px;
		font-style: italic;
		font-weight: 800;
	}


}

.question_mark_image {
	height: 30px;
	display: inline-block;
	position: absolute;
	top: -5px;
	left: -10px;
}

.expanding-arrow {
	float: right;
	position: relative;
	top: 6px;
}

.box-description {
	padding: 10px 30px 25px 30px;
	text-align: justify;
}

// Table Styles??
.table-1 {
	margin:0px;
	padding:0px;
	border:1px solid #7f0000;
	font-family: Arial;
}
.table-1 table{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.table-1 tr:nth-child(odd){
	background-color:#ffaaaa;
}
.table-1 tr:nth-child(even) {
	background-color:#ffffff;
}
.table-1 td{
	vertical-align:middle;
	border:1px solid #7f0000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size: 14px;
	font-weight:normal;
	color:#000000;
}
.table-1 tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.table-1 tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.table-1 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table-1 tr:first-child td {
	background-color: #ff5656;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-weight: bold;
	color: #ffffff;
}
.table-1 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table-1 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.table-title {
	text-align: center;
	padding: 10px;
	font-weight: 800;
	font-size: 18px;
}
//.table-1 .table-title {
//	text-align: center;
//	padding: 7px;
//	background-color: #ff2b2b;
//	color: white;
//	border-width: 0px 0px 1px 0px;
//}