<h1>The in’s and out’s of CRUD</h1>
<div>If you answer ‘yes’ to one of these questions then this post if for you!</div>
<ul>
	<li>Have you ever wondered how your html views in rails get rendered in the browser?</li>
	<li>Do you not really know what CRUD is?</li>
	<li>Are you unsure when to use GET, POST, PUT, PATCH, and DELETE?</li>
	<li>Are you curious how form_for generates the right form in the browser? If so, then this post is for you!</li>
</ul>
