<h1 class="main-topic"><a name="under_the_hood">Ruby on Rails: Under the Hood</a></h1>
<p class="small-header">
	A conglomerate of posts to help students in the  <%= link_to "Ruby on Rails Decal", 'http://www.railsdecal.com/', target: '_blank' %> at UC Berkeley.
</p>

<div id="causes-holder-first" class="posts-holder">
	<ul class="da-thumbs-2 col-xs-12">
		<li class="col-xs-12 col-sm-3">
			<%= link_to under_the_hood_posts_quick_guide_heroku_path do %>
				<div class="front-face-holder">
					<span class='all-causes-title'>Deploy to Heroku</span>
					<span class="circle"> </span>
				</div>
				<div class='hoverElem'>
					<div>  <!-- div needed to center content inside -->
						<span class="hoverElem-header">Deploy to Heroku</span>
						<span class="hoverElem-seperator">•••</span>
						<span class="hoverElem-text">6 steps to show your app to the world</span>
					</div>
				</div>
			 <% end %>
		</li>
		<li class="col-xs-12 col-sm-3">
			<%= link_to under_the_hood_posts_ajax_path do %>
				<div class="front-face-holder">
					<span class='all-causes-title'>Ajax in Rails</span>
					<span class="circle"> </span>
				</div>
				<div class='hoverElem'>
					<div>  <!-- div needed to center content inside -->
						<span class="hoverElem-header">Ajax in Rails</span>
						<span class="hoverElem-seperator">•••</span>
						<span class="hoverElem-text">Modernize websites by sending and retrieving data in the background</span>
					</div>
				</div>
			<% end %>
		</li>
	</ul>
</div>