<div>
	<a class="selected" href="#performance_issues">Diagnosing performance issues with ng-repeat and ng-options</a>
	<div class='nested-one'>
		<div class="nested-two-container">
			<a href="#background">Background</a>
			<div class='nested-two' style="display: none;">
				<a href="#conv_table">SAT Conversion Table</a>
			</div>
		</div>
		<a href="#user_perspective">Problem from user perspective</a>
		<div class="nested-two-container">
			<a href="#problem">Diagnosing the problem</a>
			<div class='nested-two' style="display: none;">
				<a href="#state_events">1. State events</a>
				<a href="#analyzing_performance">2. Analyzing Performance</a>
				<a href="#counting_watchers">3. Counting watchers</a>
				<a href="#tinkering">4. ng-options is the bottleneck</a>
			</div>
		</div>
		<div class="nested-two-container">
			<a href="#solution">The solution</a>
			<div class='nested-two' style="display: none;">
				<a href="#one_element">1. Less heavy ng-options</a>
				<a href="#ng_focus">2. Add ng-focus</a>
			</div>
		</div>
		<a href="#result">The result</a>
		<div> 
			<a href="#conclusion">Conclusion</a>
			<div class='nested-two' style="display: none;">
				<a href="#diagnose">Tips</a>
			</div>
		</div>
	</div>
</div>

