<div>
  <a class="selected" href="#title">ActiveRecord::Relation -- Lazy Evaluation</a>
  <div class='nested-one'>
    <a href="#ar_object">The ActiveRecord::Relation object</a>
    <a href="#lazy_evaluation">Lazy Evaluation Example</a>
    <a href="#solution">Solution</a>
    <a href="#when">When to be aware</a>
    <a href="#why">Why lazy evaluation?</a>
  </div>
</div>
