<div>
	<a class="selected" href="#ajax_in_rails">AJAX</a>
	<div class='nested-one'>
		<a href="#what_is_ajax">What is AJAX?</a>
		<a href="#why_use_ajax">Why use AJAX?</a>
		<a href="#basic_app">Basic app</a>
		<div class="nested-two-container">
			<a href="#implementing_ajax">Implementing AJAX</a>
			<div class='nested-two'>
				<a href="#remote_true">remote: true</a>
				<a href="#respond_to">respond_to block</a>
				<a href="#js_templates">Add Javascript templates</a>
			</div>
		</div>
		<div>
			<a href="#conclusion">Conclusion</a>
			<div class='nested-two'>
				<a href="#other_resources">Other resources</a>
			</div>
		</div>
		<a href="#extras">Extras</a>
	</div>
</div>

