<h1>Deploy to Heroku</h1>
<div class='nested-one'>
	<h2>Add rails_12_factor and pg gems</h2>
	<h2>Initalize git</h2>
	<h2>Create heroku app</h2>
	<h2>Push to heroku</h2>
	<h2>Migrate database</h2>
	<h2>Open Heroku URL</h2>
	<h2>Production Logs</h2>
</div>
