<div>
	<a class="selected" href="#deploy_to_heroku">Deploy to Heroku</a>
	<div class='nested-one'>
		<a href="#add_gems">Add rails_12_factor and pg gems</a>
		<a href="#initialize_git">Initalize git</a>
		<a href="#create_heroku_app">Create heroku app</a>
		<a href="#push_to_heroku">Push to heroku</a>
		<a href="#migrate_db">Migrate database</a>
		<a href="#open_heroku_app">Open Heroku URL</a>
	</div>
</div>
