<!-- Can change to question.png for question -->
<%= image_tag("rails_blog/tip.png", class: 'question_mark_image') %>
<div class="question"> 
	<span>Building the basic task app from scratch</span>
	<span class="glyphicon glyphicon-chevron-down expanding-arrow"></span>
</div>
<div class="box-description hidden">
</div>